
html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: white;
            }

table {
	margin-top: 10%;
	
}
	
ul {  

	margin : 0%;
	font-family: "Courier New", Courier, monospace;
	font-size: 28;
	list-style-type: circle;
	

}	


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
		
}

.inputfile + label {
	font-size: 1.25em;
	margin-left: 15px;
	padding-left: 5px;
	float: left;

	font-weight: 700;
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-color: #4CAF50;
	display: inline-block;
}

.inputfile + label:hover {
	background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.checkbox {
	float: left;
	font-weight: 700;
	margin: 5px;
	padding: 5px;
	margin-top : 10px;
	background-color:  #66ff66;
	margin-left: 15px;
	font-family: "Courier New", Courier, monospace;
	
	
}
.checkbox.selected {
	
	background-color: #00cc00;
	border: solid;
	border-color: black;
}

.checkbox:hover {
	border: solid;
	cursor: pointer; /* "hand" cursor */
	
	
}


// Containers

#container {
	background-color: red;
	width: 100%;
	height: 100%;
    margin: 0;
	padding: 0;
	position: relative;
}

#mapContainer {
	background-color: green;
	width: 60%;
	height: 100%;
    margin: 0;
	padding: 0;
	float: left;
	position: relative;
}

#inputContainer {
	background-color: white;
	width: 20%;
	height: 10%;
	
	float: right;
    margin: 2%;
	margin-right: 10%;
	padding: 0;
	position: relative;
}

#infoContainer {
	background-color: white;
	width: 30%;
	height: 100%;
	float: left;
	
    margin-left: 5%;
	padding: 0;
	position: relative;
}

#fileInputContainer {
	
	width: 100%;
	height: 20%;
}
